.wrapper {
    margin-top: 5%;
    text-align: center;
    font-size: 45px;
}

.error {
    font-size: 150px;
    margin-bottom: 5%;
    background-color: #ba0a10;
    color: white;
}

.navlink {
    text-decoration: none;
    color: black;
}
